<h1 align="center">About Page</h1>
<div class="center about">
  <div class="well col-xs-8 col-xs-offset-2">
    <h3>
      Sumaya Araujo is a proud Ofsted registered childcare provider. She is offering an outstanding childcare,
      flexibility and competitive prices. Her aim at BumbleBells is to make childcare as
      simple as possible, bringing happiness not only to the children but also to the
      parents who are juggling their work-life balance.
    </h3>
    <P></p>
      <h4><br>
        <div class="details">
          Contact details:
        </div>
        <P></p>
          <ul>
            - Tel: 01689 600 387
            - Mob: 077 3936 9741
            - <a href="mailto:hellobumblebells@smail.com">Email: </a>hellobumblebells@gmail.com
          </ul>
      </h4><br>
      <p>
        <%= link_to 'Home', root_path %>
      </p>
  </div>
</div>
