<div class="container">
  <footer class="footer">
    <small>*The BlogApp made
    by <em><a href="https://github.com/AntonioDaria/CV/blob/master/README.md">Antonio D'aria</a>*</em>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
